.logo {
  width: 210px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    font: {
      size: 1.5rem;
      weight: 600;
    }

    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
