.category {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 3px;

  & > p::first-letter {
    text-transform: uppercase;
  }

  &__icon {
    margin-right: 10px;
  }

  &:hover {
    border-radius: 9px;
    background-color: rgba(250, 250, 250, 0.9);
    cursor: pointer;
  }
}
